
<header>
    <div class="container">
        <div class="header_div">
        <div class="row">
          <div class="col-md-4 col-lg-6 col-sm-4 col-xs-12">
              <a class="navbar-brand" href="#">
                  <img src="assets/Images/assets/logo.png" alt="Battlecapse" height="42" width="42">
                </a>
          </div>
          <div class="col-md-8 col-lg-6 col-sm-8 col-xs-12">
            <ul class="float_right">
              <li>
                  <img src="assets/Images/assets/profile.png" alt="Battlecapse">
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <a href="">Hi There <span>Login/Register</span></a></li>
              <li [routerLink]="['/cart']">
                <img src="assets/Images/assets/cart.png" alt="Battlecapse" >
                <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                <a>Shopping Cart <span>3 Item (s)- $578.14</span></a></li>
            </ul>
            </div>
        </div>
        </div>
        </div>
      
    <nav class="navbar bg_color default" id="menu">
        <div class="container">       
            <div class="row"> 
              <div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <!-- <ul class="nav navbar-nav navbar-right display_none">
                      <li> 
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search..">
                         
                            <button type="button" class="btn btn-primaray">
                                <img src="assets/Images/assets/search.png">
                            </button>
                        </div>
                      </li>
                     
                    </ul> -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                      </button>
                       <!-- <a class="navbar-brand logo_logo" href="#"> <img _ngcontent-c2="" alt="Battlecapse" height="42" width="42" src="assets/Images/assets/logo.png"></a> -->
                     
                      </div>
                <div class="collapse navbar-collapse" id="myNavbar">    
          <ul class="nav navbar-nav main_ul">
            <!-- <li class="" *ngFor="let link of mainlinks"><a >{{link.linkname}}</a></li> -->
            <li class=""><a [routerLink]="['/']">Home</a></li>
            <li class="" ><a [routerLink]="['/about']">About</a></li>
            <li class="" ><a [routerLink]="['/checkout']">Deals</a></li> 
            <li class="" ><a [routerLink]="['/popup']">popup</a></li>   
            <li class="" ><a (click)="onclick(1)">Beer</a></li>
            <li class="" ><a (click)="onclick(2)">Liquor</a></li>
            <li class="" ><a (click)="onclick(3)">Wine</a></li>
            <li class="" ><a (click)="onclick(4)"> Mixers & More</a></li>
            <li class="" ><a [routerLink]="['/recipes']">Recipes</a></li>
          </ul>
          <!-- <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 padding_left"> -->
          <ul class="nav navbar-nav navbar-right">
              <li> <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search..">
                 
                    <button type="button" class="btn btn-primaray">
                        <img src="assets/Images/assets/search.png">
                    </button>
                  <!-- </div> -->
                </div>
              </li>
             
            </ul>
          </div>
          </div>
        </div>
      </div>
      </nav>
     
</header>

