/*breadcrumb */

/* 
.Search_div {
    margin: 15px 0px 40px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
}
.Search_div input{
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
   
}
.Search_div input::placeholder{
    color: #333;
}
.Search_div input:focus{
    box-shadow: none;
    outline: none;
}

.breadcrumb{
    float: right;
    margin: 0;
    background-color: transparent;
    font-weight: 500;
    padding-right: 0;
}
.breadcrumb li a{
    color: #818181;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
} */

.Searchrelated_div{
    margin: 15px 0px 40px 0;
    border-radius: 0px;
    /* padding-bottom: 10px; */
    overflow: hidden;   
}
.Searchrelated_div h4{
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
   
}


.details_img{
    border: 1px solid #d7d7d7;
    padding: 25px 0;
}
.details_img img{
    margin: 0 auto;
    display: block;
}
.details_content ul {
    padding-left: 0;
}
.details_content ul li{
    list-style-type: none;
    padding: 5px;
}
.details_content ul li i{
    color: #ec1c24;
}

    @media screen and (max-width: 767px) {
    .details_content h4.recipe_name,.details_content ul li h4.recipe_name,.Searchrelated_div h4 
    {
        font-size: 12px !important;
    }
   

}