.second_content h4{
    font-family: 'Montserrat', sans-serif !important;
}

.seach input {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
}

section.m_bottom{
    margin-bottom: 30px;
}

/* .img_div{
    margin-bottom: 10px;
    text-align: center;
  
}
.margin_bottom{
    border: 2px solid #d7d7d7;
    min-height: 110px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    height: 120px;
}
.margin_bottom .firimg{
    width: 30px;
    margin-right: 20px;
}
.margin_bottom .third_img{
        width: 30px;
    margin-left: 20px;
}
.margin_bottom img.second_img {
    width: 35%;
    height: 110px !important;
} */
.red_color{
    color: #ff0000;
}

select.form-control {
    -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
  }
.select_box{
    text-align: right;
}
.select_box select 
{
    padding: 5px 8px;
    border-radius: 3px;
    border-color: 1px solid #d7d7d7;
    color: #777;
    font-weight: bold;
}
.select_box select:first-child{
    margin-right: 5px;
}

.second_content{
    border: 1px solid #d7d7d7;
    border-top: none;
    text-align: left;
    padding: 10px;
    min-height: 110px;
    height: 110px;
    margin-bottom: 28px;
    border-radius: 0 0 5px 5px;
}
.second_content h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 9px;
}
.second_content p.price{
    color: #ec1c24;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}
.second_content h4,.second_content h5{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 9px;
    font-weight: bold;
    color: #262628;
    margin: 0;
}
.second_content .rating_star i {
    color: #ec1c24;
}
.second_content .rating_star i.last{
    color: #ddd;
}
.second_content .rating_star span.first{
    margin-left: 25px;
}
.text_transform {
    text-transform:uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #bfbebe;
    margin-top: 5px;
}
.margin_bottom_35 {
    margin-bottom: 35px;
}


@media screen and (min-width:320px) and (max-width:767px){
    footer, footer ul,.list-unstyled.clear-margins,.cards,.text_center {
        text-align: center;
    }
    .input-group{
        margin: 0 auto !important;
       text-align: center;
    }
    .margin_left{
        margin: 0;
    }  
    .text_transform,.select_box{
        font-size: 9px;
        font-weight: normal;
    }

    .select_box{
        font-size: 10px;
        font-weight: normal;
        text-align: left;
    }
    
}


@media screen and (min-width:768px) and (max-width:1024px){
    .input-group {
        width:100%; 
    }
    .subscribe .form-control{
        width:74%;
    }
    .cards img{
        width:100%;
    }
    .footer_image img{
      width:100% !important;
    }
    


}

@media screen and (min-width:320px) and (max-width:530px){
    .item_img{
        width: 100%;
    }
}


