
<div class="container">
    <div class="row">
  <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <input type="text" placeholder="Search Results">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
   <li class="breadcrumb-item active"><a href="#">Search Categories</a></li>
  </ol>
   </div>
   </div>
  </div>

<section class="m_bottom">
        <div class="container">
            <div class="row">
              <!-- <div class= "" *ngFor="let sidebar of landingproduct" >
             <app-landingproduct ["landingproduct"]=sidebar></app-landingproduct> 
            </div> -->
               <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <ul class="sidebar-menu">
                        <li>
                          <a href="#">
                            <span>Category Search</span>
                            <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="sidebar-submenu">
                              <li>-- Select --</li>
                              <li><a (click)="categoryclick(1)" class="active">Beer</a></li>
                              <li><a (click)="categoryclick(2)">Liqour</a></li>
                              <li><a (click)="categoryclick(3)">Wine</a></li>
                              <li><a (click)="categoryclick(4)">Mixers & More</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">
                            <span>Type</span>
                            <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="sidebar-submenu" style="display: none;">
                            <li><a href="#"> Top Navigation</a></li>
                            <li><a href="#"> Boxed</a></li>
                            <li><a href="#"> Fixed</a></li>
                            <li class=""><a href="#">Collapsed Sidebar</a>
                            </li>
                          </ul>
                        </li>
                        
                        <li>
                          <a href="#">
                            <span>Country</span>
                            <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="sidebar-submenu">
                            <li><a href="#"> ChartJS</a></li>
                            <li><a href="#"> Morris</a></li>
                            <li><a href="#"> Flot</a></li>
                          
                          </ul>
                        </li>
                        <li>
                          <a href="#">
                            <span>Region</span>
                            <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="sidebar-submenu">
                            <li><a href="#"> General</a></li>
                            <li><a href="#"> Icons</a></li>
                            <li><a href="#"> Buttons</a></li>
                           
                          </ul>
                        </li>
                        <li>
                          <a href="#">
                           <span>Price</span>
                           <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="sidebar-submenu">
                            <li><a href="#"> General Elements</a></li>
                            <li><a href="#">Advanced Elements</a></li>
                            <li><a href="#"> Editors</a></li>
                          </ul>
                        </li>
                        <li class="clear_search">
                          <a href="#"><span>Clear Search</span> </a>
                        </li>
                      </ul>
    
                </div>
  
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                    <div class="row margin_bottom_35">
                          
                            <div class="col-md-6 col-sm-6">
                                 <p class="text_transform">Showing 1-16 of 24 Product </p>
                                </div>
                          <div class="col-md-6 col-sm-6">
                           <div class="select_box">
                              <!-- <select (change)="onSelect($event.target.value)" [(ngModel)]="selectedCountry.id">
                                  <option *ngFor="country of countries" value= {{country.id}}>
                                     {{country.i}}
                                  </option>
                                </select> -->
                            <select>
                                    <option>Default Sorting</option>
                                    <option>1</option>
                                    <option>1</option>
                                    <option>1</option>
                                    <option>1</option>
                                </select>
                             </div>
                           </div>
                        

                     </div>
                    
                    <div class="Main_bottlesection">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 item_img" *ngFor="let product of productsList; let i=index">
                                <div class="img_div" (click)="onProductClick(i)">
                                    <div class="margin_bottom">
                                        <img  class="firimg" src="assets/Images/assets/favorites.png">
                                        <img class="second_img" src='{{product.ProductImg}}' />
                                        <img  class="third_img" src="assets/Images/assets/add-cart.png">
                                    </div>
                                    <div class="second_content">
                                            <div class="">
                                                    <p class="price">$.{{product.OfferPrice}}</p>
                                                    <h5>{{product.ProductName}}</h5>
                                                    <p>{{product.ReviewCount}}</p>
                                                    <p class="rating_star">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star last" aria-hidden="true"></i>
                                                        <span class="first">{{product.Rating}}</span>
                                                       <span>reviews</span>
                                                      </p>
                                                   
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    
