/* .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.font_size{
    margin-top: 20px;
    font-family: Poppins-Light;
    color: rgba(68,68,68,255);
    font-size: 14px;
}

.information address{
word-wrap: break-word;
}
.font_family_Montserrat_Bold{
font-family: Montserrat-Bold !important;
color: rgba(255,255,255,255) !important;
}
.font_family_Montserrat_Bold h4{
    font-size: 18px;
    font-family: Montserrat-Bold;
color: rgba(255,255,255,255);
}
.information h4{
    font-size: 18px;
    font-family: Montserrat-Bold;
color: rgba(51,51,51,255);  
}
.font_family_Montserrat_Bold h2{
    font-family: Montserrat-Bold;
color: rgba(255,255,255,255);
    font-size: 36px;
}
.font_family_Montserrat-SemiBold h5{
    font-family: Montserrat-SemiBold;
    color: rgba(51,51,51,255);
    font-size:12px;
}
.Searchrelated_div{
    margin: 15px 0px 40px 0;
    border-radius: 0px;
    overflow: hidden;   
    border-bottom: 1px solid #d7d7d7;
}
.Searchrelated_div h4{
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
   
}
section.bgr_img{
    background-image: url("assets/Images/assets/download-bg.png");
    background-repeat: no-repeat;
    height: 300px;
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 20px 0 10px;
    background-size:cover;
}
.display_center{
margin: 50px;
color: #fff;
} */

@media screen and (min-width:320px) and (max-width:530px){
    .item_img{
        width: 100%;
    }
    .display_center {
        transform: translateY(10%);
    }

}

