<div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
    <ul class="sidebar-menu">
        <li>
          <a>
            <span>Category Search</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
              <li>-- Select --</li>
              <li><a href="#" class="active">Beer</a></li>
              <li><a href="#">Liqour</a></li>
              <li><a href="#">Wine</a></li>
              <li><a href="#">Mixers & More</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span>Type</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="sidebar-submenu" style="display: none;">
            <li><a href="#"> Top Navigation</a></li>
            <li><a href="#"> Boxed</a></li>
            <li><a href="#"> Fixed</a></li>
            <li class=""><a href="#">Collapsed Sidebar</a>
            </li>
          </ul>
        </li>
        
        <li>
          <a href="#">
            <span>Country</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <li><a href="#"> ChartJS</a></li>
            <li><a href="#"> Morris</a></li>
            <li><a href="#"> Flot</a></li>
          
          </ul>
        </li>
        <li>
          <a href="#">
            <span>Region</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <li><a href="#"> General</a></li>
            <li><a href="#"> Icons</a></li>
            <li><a href="#"> Buttons</a></li>
           
          </ul>
        </li>
        <li>
          <a href="#">
           <span>Price</span>
           <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="sidebar-submenu">
            <li><a href="#"> General Elements</a></li>
            <li><a href="#">Advanced Elements</a></li>
            <li><a href="#"> Editors</a></li>
          </ul>
        </li>
        <li class="clear_search">
          <a href="#"><span>Clear Search</span> </a>
        </li>
      </ul>

</div>
