<section class="m_bottom">
    <div class="container">
        
            <div class="Search_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <input type="text" placeholder="My Account">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
               <li class="breadcrumb-item active"><a href="#">Account</a></li>
              </ol>
               </div>
              
            
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                <ul class="sidebar-menu">
                    <li>
                      <a>
                      <img class="beer" src="assets/Images/assets/Orders.png">
                        <span>My Orders</span>
                        <i class="fa fa-angle-down pull-right"></i>
                      </a>
                      <!-- <ul class="sidebar-submenu">
                          <li> Select </li>
                          <li><a href="#" class="active">Beer</a></li>
                          <li><a href="#">Liqour</a></li>
                          <li><a href="#">Wine</a></li>
                          <li><a href="#">Mixers & More</a></li>
                      </ul> -->
                      <ul class="sidebar-submenu" style="display: none;">
                          <li><a href="#"> Profile Information</a></li>
                          <li><a href="#"> Manage Address</a></li>
                          <li><a href="#"> Payment Methods</a></li>
                        </ul>
                    </li>
                    <li>
                      <a>
                          <img class="beer" src="assets/Images/assets/account.png">
                        <span>My Account</span>
                        <i class="fa fa-angle-down pull-right"></i>
                      </a>
                      <ul class="sidebar-submenu" style="display: none;">
                        <li><a href="#"> Profile Information</a></li>
                        <li><a href="#"> Manage Address</a></li>
                        <li><a href="#"> Payment Methods</a></li>
                      </ul>
                    </li>
                    
                    <li class="star_color">
                      <a>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        <span>Favorites</span>
                        <i class="fa fa-angle-down pull-right"></i>
                      </a>
                      <ul class="sidebar-submenu" style="display: none;">
                          <li><a href="#"> Profile Information</a></li>
                          <li><a href="#"> Manage Address</a></li>
                          <li><a href="#"> Payment Methods</a></li>
                        </ul>
                    </li>
                    
                    <li class="">
                      <a>
                          <img class="beer" src="assets/Images/assets/logout.png">  
                        <span>Log Out</span> </a>
                    </li>
                  </ul>

            </div>


            <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <div class="border_bottom">
             <div class="profile col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <span class="img_class">
                  <img src='assets/Images/assets/beer-bg.png' />
                </span>
                <h5 class="margin_top">Jhon Smith</h5>
                    <h5 class="email">JhonSmith@email.com</h5>
              </div>
              <div class="float_right col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <h4 cl>
                      <img src='assets/Images/assets/Edit.png' />
                      Edit Profile
                  </h4>
              </div>
            </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <div>
              <h5>Mobile Number</h5>
            <h5>+0 (123) 456-789</h5>
          </div>
          <div>
              <h5>Gender</h5>
              <h5>Male</h5>
          </div>

          <div>
              <h5>Date Of Birth</h5>
              <h5>08-29-1993</h5>
          </div>
           </div>     
            
            </div>
          
       
            </div>
          
          </section>